In [1]:
import sys
import os
import numpy as np
import zipfile
from tqdm import tqdm
import scrapbook as sb
from tempfile import TemporaryDirectory
import tensorflow as tf
tf.get_logger().setLevel('ERROR') # only show error messages

from recommenders.models.deeprec.deeprec_utils import download_deeprec_resources
from recommenders.models.newsrec.newsrec_utils import prepare_hparams
from recommenders.models.newsrec.models.lstur import LSTURModel
from recommenders.models.newsrec.io.mind_iterator import MINDIterator
from recommenders.models.newsrec.newsrec_utils import get_mind_data_set

print("System version:{}".format(sys.version))
print("Tensorflow version:{}".format(tf.__version__))

System version:3.8.17 (default, Jul  5 2023, 20:44:21) [MSC v.1916 64 bit (AMD64)]
Tensorflow version:2.6.1

In [ ]:
import numpy as np

In [ ]:
!pip install keras==2.6

In [ ]:
!pip install protobuf==3.20.* --user

In [ ]:
!pip install scrapbook

In [ ]:
!pip install tensorflow==2.6.1

In [ ]:
!pip install numpy==1.20.3 --user

In [ ]:
conda uninstall numpy

In [ ]:
!pip show numpy

In [1]:
import pandas as pd
import random
import numpy as np

In [32]:
df1233=pd.read_csv('behaviors1.tsv',sep="\t",header=None)
df1233

,0,1,2,3,4
0,0,+34661281XXX,11/11/2019 9:05:58 AM,224875 224929 223626,225739-0 162712-0 450565-0 769664-0 649366-0 7...
1,1,+34938723XXX,11/11/2019 9:05:58 AM,247448,247083-0 919060-0 914301-0 715868-0 128848-0 9...
2,2,+34976394XXX,11/11/2019 9:05:58 AM,239006,240958-0 232494-0 475765-0 331298-0 579017-1 4...
3,3,+436604727XXX,11/11/2019 9:05:58 AM,231525,243429-0 741872-0 942830-0 771830-0 782112-0 2...
4,4,+436606822XXX,11/11/2019 9:05:58 AM,229731 248057 249875,250942-1 170018-0 563176-0 454919-0 351710-0 6...
...,...,...,...,...,...
95,95,+492065907XXX,11/11/2019 9:05:58 AM,226084,226094-0 477588-0 853220-0 924805-0 770096-0 2...
96,96,+4921117806XXX,11/11/2019 9:05:58 AM,230867,237520-0 831732-0 614089-0 845807-0 841893-0 3...
97,97,+492119008XXX,11/11/2019 9:05:58 AM,249812,250015-0 716267-0 590789-0 371471-0 279952-0 7...
98,98,+4921374XXX,11/11/2019 9:05:58 AM,229769,227701-0 447119-0 869456-0 928081-0 118322-0 5...
99,99,+49230521XXX,11/11/2019 9:05:58 AM,241839,241852-0 775867-0 257304-0 619778-0 347554-0 6...

In [40]:
df123=pd.read_csv('behaviors.tsv',sep="\t",header=None)
df123

,0,1,2,3,4
0,0,+34661281XXX,11/11/2019 9:05:58 AM,224875 224929 223626,225739-0 765347-0 792185-0 781206-0 456401-0 1...
1,1,+34938723XXX,11/11/2019 9:05:58 AM,247448,247083-0 407613-0 926952-0 732033-0 740802-0 1...
2,2,+34976394XXX,11/11/2019 9:05:58 AM,239006,240958-0 430335-0 623927-0 436151-0 302521-0 3...
3,3,+436604727XXX,11/11/2019 9:05:58 AM,231525,243429-0 376944-0 725942-0 163020-0 272084-0 5...
4,4,+436606822XXX,11/11/2019 9:05:58 AM,229731 248057 249875,250942-0 627679-0 788393-0 816219-0 603107-0 5...
...,...,...,...,...,...
95,95,+492065907XXX,11/11/2019 9:05:58 AM,226084,226094-0 479588-0 203262-0 138048-0 369639-0 6...
96,96,+4921117806XXX,11/11/2019 9:05:58 AM,230867,237520-0 195313-0 552568-0 342097-0 316171-0 3...
97,97,+492119008XXX,11/11/2019 9:05:58 AM,249812,250015-0 858228-0 406875-0 841873-0 295511-0 1...
98,98,+4921374XXX,11/11/2019 9:05:58 AM,229769,227701-1 372801-0 726402-0 154566-0 372998-0 9...
99,99,+49230521XXX,11/11/2019 9:05:58 AM,241839,241852-0 866036-0 175647-0 868380-0 118073-0 9...

In [41]:
df1244=pd.read_csv('news1.tsv',sep="\t",header=None)
df1244

,0,1,2,3,4,5,6,7
0,86827,game,game,Sony Ericsson S500i Unlocked Mysterious Green,Sony Ericsson S500i Unlocked Mysterious Green,google.com,[],[]
1,87964,game,game,PSP Slim & Lite Sony Piano Black,PSP Slim & Lite Sony Piano Black,google.com,[],[]
2,87965,game,game,PSP Slim & Lite Sony Piano Black,PSP Slim & Lite Sony Piano Black,google.com,[],[]
3,88638,game,game,Sony Ericsson S500i Unlocked Mysterious Green,Sony Ericsson S500i Unlocked Mysterious Green,google.com,[],[]
4,88639,game,game,Sony Ericsson S500i Unlocked Mysterious Green,Sony Ericsson S500i Unlocked Mysterious Green,google.com,[],[]
...,...,...,...,...,...,...,...,...
95,93281,game,game,SanDisk Cruzer Contour 4GB,SanDisk Cruzer Contour 4GB,google.com,[],[]
96,93282,game,game,SanDisk Cruzer Contour 4GB,SanDisk Cruzer Contour 4GB,google.com,[],[]
97,93283,game,game,SanDisk Cruzer Contour 4GB,SanDisk Cruzer Contour 4GB,google.com,[],[]
98,93284,game,game,SanDisk Cruzer Contour 4GB,SanDisk Cruzer Contour 4GB,google.com,[],[]
99,93285,game,game,SanDisk Cruzer Contour 4GB,SanDisk Cruzer Contour 4GB,google.com,[],[]

In [42]:
df124=pd.read_csv('news.tsv',sep="\t",header=None)
df124

,0,1,2,3,4,5,6,7
0,225739,game,game,Wii | Nintendo Console + Wii Sports,Wii | Nintendo Console + Wii Sports,google.com,[],[]
1,160320,game,game,Wii | Nintendo Console + Wii Sports,Wii | Nintendo Console + Wii Sports,google.com,[],[]
2,145816,game,game,Wii | Nintendo Console + Wii Sports,Wii | Nintendo Console + Wii Sports,google.com,[],[]
3,214131,game,game,Wii | Nintendo Console + Wii Sports,Wii | Nintendo Console + Wii Sports,google.com,[],[]
4,474704,game,game,Wii | Nintendo Console + Wii Sports,Wii | Nintendo Console + Wii Sports,google.com,[],[]
...,...,...,...,...,...,...,...,...
2388,255483,game,game,Nintendo DSi Console (Black),Nintendo DSi Console (Black),google.com,[],[]
2389,256076,game,game,Need For Speed: Shift (Xbox 360),Need For Speed: Shift (Xbox 360),google.com,[],[]
2390,256602,game,game,Wii | Nintendo Console + Wii Sports,Wii | Nintendo Console + Wii Sports,google.com,[],[]
2391,259038,game,game,50 Bids Voucher,50 Bids Voucher,google.com,[],[]
2392,259066,game,game,300 Bids Voucher,300 Bids Voucher,google.com,[],[]

In [4]:
df1=pd.read_table('traces.tsv')
df1

,auction_id,bid_time,bid_ct,bid_number,bid_user,bid_butler,bid_cp,bid_user_secs_added,bid_butler_secs_added,bid_infered,bid_group,bid_final
0,222387,2009-10-04 12:33:26,19913,1,Becker1990,0,12,0,0,0,0,0
1,222387,2009-10-04 14:28:14,13029,2,Gaynor66,0,24,4,0,0,1,0
2,222387,2009-10-04 14:44:08,12079,3,Jostrem16,0,36,4,0,0,2,0
3,222387,2009-10-04 17:14:26,3071,4,Clubfan78,0,48,10,0,0,3,0
4,222387,2009-10-04 17:36:06,1773,5,Momstired2,0,60,2,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2049967,259070,2009-12-12 21:29:30,15,517,Blaufish83,0,3102,14,0,1,374,0
2049968,259070,2009-12-12 21:29:30,15,518,Solwicca,0,3108,14,0,1,374,0
2049969,259070,2009-12-12 21:29:30,15,519,Jaden248,0,3114,14,0,1,374,0
2049970,259070,2009-12-12 21:29:30,15,520,Orion29,0,3120,14,0,0,374,0
2049971,259070,2009-12-12 21:29:34,15,521,Schonmir1500,0,3126,4,0,0,375,1

In [5]:
df2=df1.drop_duplicates(subset=['auction_id','bid_user']).groupby('bid_user').size().sort_values(ascending=False).reset_index()
df2.columns =['bid_user', 'counts']
df2

         bid_user  counts
0      Lillyblitz     258
1         Npr1967     225
2      Drodenbeck     214
3       Zwerg1953     191
4           Varis     191
...           ...     ...
60532   Keebler87       1
60533       Kedii       1
60534     Kebo178       1
60535    Keber314       1
60536      zzindy       1

[60537 rows x 2 columns]

In [6]:
df2=df2[df2['counts']>=2]
df2

         bid_user  counts
0      Lillyblitz     258
1         Npr1967     225
2      Drodenbeck     214
3       Zwerg1953     191
4           Varis     191
...           ...     ...
37244      Dansgr       2
37245     Julsche       2
37246  Topdolly75       2
37247   Topazlady       2
37248      Sinopa       2

[37249 rows x 2 columns]

In [7]:
df3=df1[df1['bid_user'].isin(df2['bid_user'].tolist())]
df3

,auction_id,bid_time,bid_ct,bid_number,bid_user,bid_butler,bid_cp,bid_user_secs_added,bid_butler_secs_added,bid_infered,bid_group,bid_final
0,222387,2009-10-04 12:33:26,19913,1,Becker1990,0,12,0,0,0,0,0
1,222387,2009-10-04 14:28:14,13029,2,Gaynor66,0,24,4,0,0,1,0
2,222387,2009-10-04 14:44:08,12079,3,Jostrem16,0,36,4,0,0,2,0
3,222387,2009-10-04 17:14:26,3071,4,Clubfan78,0,48,10,0,0,3,0
4,222387,2009-10-04 17:36:06,1773,5,Momstired2,0,60,2,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2049967,259070,2009-12-12 21:29:30,15,517,Blaufish83,0,3102,14,0,1,374,0
2049968,259070,2009-12-12 21:29:30,15,518,Solwicca,0,3108,14,0,1,374,0
2049969,259070,2009-12-12 21:29:30,15,519,Jaden248,0,3114,14,0,1,374,0
2049970,259070,2009-12-12 21:29:30,15,520,Orion29,0,3120,14,0,0,374,0
2049971,259070,2009-12-12 21:29:34,15,521,Schonmir1500,0,3126,4,0,0,375,1

In [8]:
df4=df3.drop_duplicates(subset=['auction_id','bid_user']).groupby('bid_user').size().sort_values(ascending=False)#reset_index()
df4

bid_user
Lillyblitz     258
Npr1967        225
Drodenbeck     214
Alad99         191
Varis          191
              ...
Paroca           2
Dpauken73        2
Parotgal         2
Partial          2
Queenb4u2nv      2
Length: 37249, dtype: int64

In [9]:
df5=df3.sort_values('bid_time')
df5=df5.drop_duplicates(subset=['auction_id','bid_user'])
df5

,auction_id,bid_time,bid_ct,bid_number,bid_user,bid_butler,bid_cp,bid_user_secs_added,bid_butler_secs_added,bid_infered,bid_group,bid_final
19003,223829,2009-10-01 22:07:40,2854,1,Sash6,0,12,0,0,0,0,0
19006,223829,2009-10-01 22:51:21,248,4,Rfire,0,48,2,0,0,3,0
19007,223829,2009-10-01 22:52:14,197,5,dome60,0,60,2,0,0,4,0
19014,223829,2009-10-01 22:55:53,14,12,Yllekbryan,0,144,0,0,1,9,0
3924,222653,2009-10-02 03:17:59,36737,1,Rvs66,0,6,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2043476,259045,2009-12-12 22:30:36,15,10,Tomr12766,0,60,0,0,1,6,0
2043477,259045,2009-12-12 22:30:36,15,11,Gapkiddo,0,66,0,0,1,6,0
2043478,259045,2009-12-12 22:30:36,15,12,1940neo,0,72,0,0,1,6,0
2043480,259045,2009-12-12 22:30:36,15,14,Dram18,0,84,0,0,0,6,0
2043481,259045,2009-12-12 22:30:37,15,15,Blaze365x,0,90,0,0,1,7,0

In [10]:
df5['auction_id']=df5['auction_id'].astype(str)

In [11]:
df5

,auction_id,bid_time,bid_ct,bid_number,bid_user,bid_butler,bid_cp,bid_user_secs_added,bid_butler_secs_added,bid_infered,bid_group,bid_final
19003,223829,2009-10-01 22:07:40,2854,1,Sash6,0,12,0,0,0,0,0
19006,223829,2009-10-01 22:51:21,248,4,Rfire,0,48,2,0,0,3,0
19007,223829,2009-10-01 22:52:14,197,5,dome60,0,60,2,0,0,4,0
19014,223829,2009-10-01 22:55:53,14,12,Yllekbryan,0,144,0,0,1,9,0
3924,222653,2009-10-02 03:17:59,36737,1,Rvs66,0,6,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2043476,259045,2009-12-12 22:30:36,15,10,Tomr12766,0,60,0,0,1,6,0
2043477,259045,2009-12-12 22:30:36,15,11,Gapkiddo,0,66,0,0,1,6,0
2043478,259045,2009-12-12 22:30:36,15,12,1940neo,0,72,0,0,1,6,0
2043480,259045,2009-12-12 22:30:36,15,14,Dram18,0,84,0,0,0,6,0
2043481,259045,2009-12-12 22:30:37,15,15,Blaze365x,0,90,0,0,1,7,0

In [12]:
impressionData=df5.groupby('bid_user')['auction_id'].apply(" ".join).reset_index()
print(impressionData)

              bid_user                                         auction_id
0         +34661281XXX                        224875 224929 223626 225739
1         +34938723XXX                                      247448 247083
2         +34976394XXX                                      239006 240958
3        +436604727XXX                                      231525 243429
4        +436606822XXX                        229731 248057 249875 250942
...                ...                                                ...
37244          zarte28  224026 225028 227526 225181 225553 225885 2251...
37245           zate28                        250507 250042 248768 248639
37246         ziomekpl                                      247712 247018
37247  zitronenfalter7                                      252311 255969
37248          zorro54                               239349 239339 259044

[37249 rows x 2 columns]

In [13]:
impressionData['auction_id'].dtype

dtype('O')

In [14]:
def noLastOne(text):
  words=text.split()
  if len(words)<=1:
    return ''
  else:
    return ' '.join(words[-51:-1])

def keepLastOne(text):
  newWords=text.split()
  if len(newWords)<1:
    return ''
  else:
     impressionWords=[newWords[-1]]+[str(random.randint(100000, 999999))for _ in range(20)]
     random_index = random.randint(0,len(impressionWords)-1)
     impressionWords[random_index]+='-1'
     return ' '.join(impressionWords)

impressionData['history']=impressionData['auction_id'].apply(noLastOne)
impressionData['impression']=impressionData['auction_id'].apply(keepLastOne)

print(impressionData)

              bid_user                                         auction_id  \
0         +34661281XXX                        224875 224929 223626 225739
1         +34938723XXX                                      247448 247083
2         +34976394XXX                                      239006 240958
3        +436604727XXX                                      231525 243429
4        +436606822XXX                        229731 248057 249875 250942
...                ...                                                ...
37244          zarte28  224026 225028 227526 225181 225553 225885 2251...
37245           zate28                        250507 250042 248768 248639
37246         ziomekpl                                      247712 247018
37247  zitronenfalter7                                      252311 255969
37248          zorro54                               239349 239339 259044

                                                history  \
0                                  224875 224929 223626
1                                                247448
2                                                239006
3                                                231525
4                                  229731 248057 249875
...                                                 ...
37244  224026 225028 227526 225181 225553 225885 225115
37245                              250507 250042 248768
37246                                            247712
37247                                            252311
37248                                     239349 239339

                                              impression
0      225739 402447 554414 250794 124345 552572 9405...
1      247083 736094 263166 558716 859630 776802 2191...
2      240958 619072 553762 786606 655859 885759 4378...
3      243429 373801 911598 423181 742438 566337 8848...
4      250942 405535 911763 480725 132147 278966 1457...
...                                                  ...
37244  226731 271072 410855 544595 487506 541318-1 16...
37245  248639 952342 241153 884268 294921 733672 7571...
37246  247018 958527 303036 860484 742105 455588 8892...
37247  255969 550383 178660 783630 788904 854831 4079...
37248  259044 871840 686672 851493 926958 752975 8954...

[37249 rows x 4 columns]

In [15]:
impression2=impressionData
impression2

,bid_user,auction_id,history,impression
0,+34661281XXX,224875 224929 223626 225739,224875 224929 223626,225739 402447 554414 250794 124345 552572 9405...
1,+34938723XXX,247448 247083,247448,247083 736094 263166 558716 859630 776802 2191...
2,+34976394XXX,239006 240958,239006,240958 619072 553762 786606 655859 885759 4378...
3,+436604727XXX,231525 243429,231525,243429 373801 911598 423181 742438 566337 8848...
4,+436606822XXX,229731 248057 249875 250942,229731 248057 249875,250942 405535 911763 480725 132147 278966 1457...
...,...,...,...,...
37244,zarte28,224026 225028 227526 225181 225553 225885 2251...,224026 225028 227526 225181 225553 225885 225115,226731 271072 410855 544595 487506 541318-1 16...
37245,zate28,250507 250042 248768 248639,250507 250042 248768,248639 952342 241153 884268 294921 733672 7571...
37246,ziomekpl,247712 247018,247712,247018 958527 303036 860484 742105 455588 8892...
37247,zitronenfalter7,252311 255969,252311,255969 550383 178660 783630 788904 854831 4079...
37248,zorro54,239349 239339 259044,239349 239339,259044 871840 686672 851493 926958 752975 8954...

In [16]:
def addZero(text):
    words=text.split()
    newWords=[]
    for word in words:
        if '-1' not in word:
            word+='-0'
        newWords.append(word)

    return ' '.join(newWords)

impression2['impression']=impression2['impression'].apply(addZero)

print(impression2)

              bid_user                                         auction_id  \
0         +34661281XXX                        224875 224929 223626 225739
1         +34938723XXX                                      247448 247083
2         +34976394XXX                                      239006 240958
3        +436604727XXX                                      231525 243429
4        +436606822XXX                        229731 248057 249875 250942
...                ...                                                ...
37244          zarte28  224026 225028 227526 225181 225553 225885 2251...
37245           zate28                        250507 250042 248768 248639
37246         ziomekpl                                      247712 247018
37247  zitronenfalter7                                      252311 255969
37248          zorro54                               239349 239339 259044

                                                history  \
0                                  224875 224929 223626
1                                                247448
2                                                239006
3                                                231525
4                                  229731 248057 249875
...                                                 ...
37244  224026 225028 227526 225181 225553 225885 225115
37245                              250507 250042 248768
37246                                            247712
37247                                            252311
37248                                     239349 239339

                                              impression
0      225739-0 402447-0 554414-0 250794-0 124345-0 5...
1      247083-0 736094-0 263166-0 558716-0 859630-0 7...
2      240958-0 619072-0 553762-0 786606-0 655859-0 8...
3      243429-0 373801-0 911598-0 423181-0 742438-0 5...
4      250942-0 405535-0 911763-0 480725-0 132147-0 2...
...                                                  ...
37244  226731-0 271072-0 410855-0 544595-0 487506-0 5...
37245  248639-0 952342-0 241153-0 884268-0 294921-0 7...
37246  247018-0 958527-0 303036-0 860484-0 742105-0 4...
37247  255969-0 550383-0 178660-0 783630-0 788904-0 8...
37248  259044-0 871840-0 686672-0 851493-0 926958-0 7...

[37249 rows x 4 columns]

In [17]:
impression3=impression2.drop('auction_id',axis='columns')
impression3

,bid_user,history,impression
0,+34661281XXX,224875 224929 223626,225739-0 402447-0 554414-0 250794-0 124345-0 5...
1,+34938723XXX,247448,247083-0 736094-0 263166-0 558716-0 859630-0 7...
2,+34976394XXX,239006,240958-0 619072-0 553762-0 786606-0 655859-0 8...
3,+436604727XXX,231525,243429-0 373801-0 911598-0 423181-0 742438-0 5...
4,+436606822XXX,229731 248057 249875,250942-0 405535-0 911763-0 480725-0 132147-0 2...
...,...,...,...
37244,zarte28,224026 225028 227526 225181 225553 225885 225115,226731-0 271072-0 410855-0 544595-0 487506-0 5...
37245,zate28,250507 250042 248768,248639-0 952342-0 241153-0 884268-0 294921-0 7...
37246,ziomekpl,247712,247018-0 958527-0 303036-0 860484-0 742105-0 4...
37247,zitronenfalter7,252311,255969-0 550383-0 178660-0 783630-0 788904-0 8...
37248,zorro54,239349 239339,259044-0 871840-0 686672-0 851493-0 926958-0 7...

In [18]:
impression4=impression3.head(100)
impression4

,bid_user,history,impression
0,+34661281XXX,224875 224929 223626,225739-0 402447-0 554414-0 250794-0 124345-0 5...
1,+34938723XXX,247448,247083-0 736094-0 263166-0 558716-0 859630-0 7...
2,+34976394XXX,239006,240958-0 619072-0 553762-0 786606-0 655859-0 8...
3,+436604727XXX,231525,243429-0 373801-0 911598-0 423181-0 742438-0 5...
4,+436606822XXX,229731 248057 249875,250942-0 405535-0 911763-0 480725-0 132147-0 2...
...,...,...,...
95,+492065907XXX,226084,226094-0 104565-0 902088-0 235372-0 830337-1 8...
96,+4921117806XXX,230867,237520-0 296152-0 145703-0 427564-0 425270-0 7...
97,+492119008XXX,249812,250015-0 488419-0 475100-0 537473-0 274569-0 8...
98,+4921374XXX,229769,227701-0 762151-0 726287-0 537399-0 116991-0 6...
99,+49230521XXX,241839,241852-0 867231-1 253122-0 273876-0 696863-0 4...

In [20]:
impression4.to_csv('behaviors.tsv',sep="\t")

In [22]:
df=pd.read_table('outcomes.tsv')
df.head()

,auction_id,product_id,item,desc,retail,price,finalprice,bidincrement,bidfee,winner,placedbids,freebids,endtime_str,flg_click_only,flg_beginnerauction,flg_fixedprice,flg_endprice
0,86827,10009602,sony-ericsson-s500i-unlocked-mysterious-,Sony Ericsson S500i Unlocked Mysterious Green,499.99,13.35,13.35,15,75,Racer11,26,0,19:52 PDT 09-16-2008,0,0,0,0
1,87964,10009881,psp-slim-lite-sony-piano-black,PSP Slim & Lite Sony Piano Black,169.99,74.70,74.70,15,75,Cemo23,65,0,11:17 PDT 08-28-2008,0,0,0,0
2,87965,10009881,psp-slim-lite-sony-piano-black,PSP Slim & Lite Sony Piano Black,169.99,83.10,83.10,15,75,Jacobsonnich,94,0,22:52 PDT 11-07-2008,0,1,0,0
3,88638,10006115,sony-ericsson-s500i-unlocked-mysterious-,Sony Ericsson S500i Unlocked Mysterious Green,499.99,19.65,19.65,15,75,Mokkis,10,0,22:02 PDT 08-23-2008,0,0,0,0
4,88639,10006115,sony-ericsson-s500i-unlocked-mysterious-,Sony Ericsson S500i Unlocked Mysterious Green,499.99,47.10,47.10,15,75,Superloeffel,80,0,14:23 PDT 08-24-2008,0,0,0,0

In [23]:
df10=df.drop(['product_id','item','retail','price','finalprice','bidincrement','bidfee','winner','placedbids','freebids','endtime_str','flg_click_only','flg_beginnerauction','flg_fixedprice','flg_endprice'],axis='columns')
df10

        auction_id                                           desc
0            86827  Sony Ericsson S500i Unlocked Mysterious Green
1            87964               PSP Slim & Lite Sony Piano Black
2            87965               PSP Slim & Lite Sony Piano Black
3            88638  Sony Ericsson S500i Unlocked Mysterious Green
4            88639  Sony Ericsson S500i Unlocked Mysterious Green
...            ...                                            ...
121414      259065                               300 Bids Voucher
121415      259066                               300 Bids Voucher
121416      259068                               300 Bids Voucher
121417      259069                               300 Bids Voucher
121418      259070                               300 Bids Voucher

[121419 rows x 2 columns]

In [24]:
df11=df10.head(100)
df11

    auction_id                                           desc
0        86827  Sony Ericsson S500i Unlocked Mysterious Green
1        87964               PSP Slim & Lite Sony Piano Black
2        87965               PSP Slim & Lite Sony Piano Black
3        88638  Sony Ericsson S500i Unlocked Mysterious Green
4        88639  Sony Ericsson S500i Unlocked Mysterious Green
..         ...                                            ...
95       93281                     SanDisk Cruzer Contour 4GB
96       93282                     SanDisk Cruzer Contour 4GB
97       93283                     SanDisk Cruzer Contour 4GB
98       93284                     SanDisk Cruzer Contour 4GB
99       93285                     SanDisk Cruzer Contour 4GB

[100 rows x 2 columns]

In [25]:
df11.to_csv('news.tsv',sep="\t")

In [11]:
epochs=1
seed=40
batch_size=64

In [6]:
MIND_type='demo'

In [40]:
tmpdir = TemporaryDirectory()
data_path = tmpdir.name

train_news_file = os.path.join(data_path, 'train', df11)
train_behaviors_file = os.path.join(data_path, 'train', impression4)
valid_news_file = os.path.join(data_path, 'valid', df11)
valid_behaviors_file = os.path.join(data_path, 'valid', impression4)
wordEmb_file = os.path.join(data_path, "utils", "embedding.npy")
userDict_file = os.path.join(data_path, "utils", "uid2index.pkl")
wordDict_file = os.path.join(data_path, "utils", "word_dict.pkl")
yaml_file = os.path.join(data_path, "utils", r'lstur.yaml')

mind_url, mind_train_dataset, mind_dev_dataset, mind_utils = get_mind_data_set(MIND_type)

if not os.path.exists(train_news_file):
    download_deeprec_resources(mind_url, os.path.join(data_path, 'train'), mind_train_dataset)
    
if not os.path.exists(valid_news_file):
    download_deeprec_resources(mind_url, \
                               os.path.join(data_path, 'valid'), mind_dev_dataset)
if not os.path.exists(yaml_file):
    download_deeprec_resources(r'https://recodatasets.z20.web.core.windows.net/newsrec/', \
                               os.path.join(data_path, 'utils'), mind_utils)

TypeError: join() argument must be str, bytes, or os.PathLike object, not 'DataFrame'

In [12]:
hparams = prepare_hparams(yaml_file, 
                          wordEmb_file=wordEmb_file,
                          wordDict_file=wordDict_file, 
                          userDict_file=userDict_file,
                          batch_size=batch_size,
                          epochs=epochs)
print(hparams)

HParams object with values {'support_quick_scoring': True, 'dropout': 0.2, 'attention_hidden_dim': 200, 'head_num': 4, 'head_dim': 100, 'filter_num': 400, 'window_size': 3, 'vert_emb_dim': 100, 'subvert_emb_dim': 100, 'gru_unit': 400, 'type': 'ini', 'user_emb_dim': 50, 'learning_rate': 0.0001, 'optimizer': 'adam', 'epochs': 1, 'batch_size': 64, 'show_step': 100000, 'title_size': 30, 'his_size': 50, 'data_format': 'news', 'npratio': 4, 'metrics': ['group_auc', 'mean_mrr', 'ndcg@5;10'], 'word_emb_dim': 300, 'cnn_activation': 'relu', 'model_type': 'lstur', 'loss': 'cross_entropy_loss', 'wordEmb_file': 'C:\\Users\\super\\AppData\\Local\\Temp\\tmp1xlt7xl2\\utils\\embedding.npy', 'wordDict_file': 'C:\\Users\\super\\AppData\\Local\\Temp\\tmp1xlt7xl2\\utils\\word_dict.pkl', 'userDict_file': 'C:\\Users\\super\\AppData\\Local\\Temp\\tmp1xlt7xl2\\utils\\uid2index.pkl'}

In [14]:
iterator = MINDIterator

In [38]:
model = LSTURModel(hparams, iterator, seed=seed)

Tensor("conv1d/Relu:0", shape=(None, 30, 400), dtype=float32)
Tensor("att_layer2/Sum_1:0", shape=(None, 400), dtype=float32)

C:\Users\super\anaconda3\envs\python38\lib\site-packages\keras\optimizer_v2\optimizer_v2.py:355: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  warnings.warn(

In [39]:
print(model.run_eval(df11, impression4))

0it [00:00, ?it/s]

TypeError: __init__(): incompatible constructor arguments. The following argument types are supported:
    1. tensorflow.python.lib.io._pywrap_file_io.BufferedInputStream(filename: str, buffer_size: int, token: tensorflow.python.lib.io._pywrap_file_io.TransactionToken = None)

Invoked with:     auction_id                                           desc
0        86827  Sony Ericsson S500i Unlocked Mysterious Green
1        87964               PSP Slim & Lite Sony Piano Black
2        87965               PSP Slim & Lite Sony Piano Black
3        88638  Sony Ericsson S500i Unlocked Mysterious Green
4        88639  Sony Ericsson S500i Unlocked Mysterious Green
..         ...                                            ...
95       93281                     SanDisk Cruzer Contour 4GB
96       93282                     SanDisk Cruzer Contour 4GB
97       93283                     SanDisk Cruzer Contour 4GB
98       93284                     SanDisk Cruzer Contour 4GB
99       93285                     SanDisk Cruzer Contour 4GB

[100 rows x 2 columns], 524288